# Docker volumes and local data
*.log
.env

# IDE and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Maven / Build output
target/
*.class

# Node / Angular Frontend
node_modules/
.angular/
dist/
.env*
!.env.example

# Security & Private Keys
*.pem

# Temporary text notes
caso7_text.txt
ep1_text.txt
ep2_text.txt

