# Docker volumes and local data
*.log
.env

# IDE and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Maven / Build output
target/
*.class

# Node / Angular Frontend
node_modules/
.angular/
dist/
.env*
